.stardustCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.pageCanvas {
  position: fixed;
  z-index: 0;
}

.fadeOut {
  animation: fadeOut 0.8s ease-out forwards;
  animation-delay: 0.7s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}